.mesmerize-slider .owl-dots, .mesmerize-slider .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent
}

.header-with-slider-wrapper {
    z-index: 0
}

.owl-stage {
    background: #000
}

.owl-item > .header-slide {
    height: 100%
}

.owl-item > .header-slide.fh-slide {
    height: 100vh
}

.owl-item > .header-slide.nh-slide {
    height: 100%
}

.mesmerize-slider {
    position: absolute;
    z-index: 47
}

.mesmerize-slider.grouped {
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    padding: 10px 20px
}

.mesmerize-slider.separated {
    position: unset;
    height: 0
}

.mesmerize-slider.grouped.nlt {
    left: 0;
    top: 0
}

.mesmerize-slider.grouped.nlb {
    left: 0;
    bottom: 0
}

.mesmerize-slider.grouped.nct {
    left: 0;
    right: 0;
    top: 0
}

.mesmerize-slider.grouped.ncb {
    left: 0;
    right: 0;
    bottom: 0
}

.mesmerize-slider.grouped.nrt {
    right: 0;
    top: 0
}

.mesmerize-slider.grouped.nrb {
    right: 0;
    bottom: 0
}

.mesmerize-slider.grouped .owl-controls {
    display: flex;
    align-items: center;
    justify-content: center
}

.mesmerize-slider .owl-nav [class*=owl-] {
    width: auto;
    background: rgba(0, 0, 0, 0);
    display: block;
    cursor: pointer;
}

.mesmerize-slider.grouped .owl-nav [class*=owl-] {
    position: relative;
    margin: 0 4px
}

.mesmerize-slider.separated .owl-nav [class*=owl-] {
    position: absolute;
    z-index: 47
}

.mesmerize-slider.separated .owl-nav .owl-next, .mesmerize-slider.separated .owl-nav .owl-prev {
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s linear
}

.mesmerize-slider.separated .owl-nav .owl-prev {
    left: 0
}

.mesmerize-slider.separated .owl-nav .owl-next {
    right: 0
}

.mesmerize-slider .owl-nav > div.rounded-square-slider-button {
    border-radius: 7px
}

.mesmerize-slider .rounded-slider-button {
    border-radius: 100%;
}

.mesmerize-slider .owl-nav [class*=owl-]:hover {
    background: transparent;
    text-decoration: none
}

.mesmerize-slider .owl-nav [class*=owl-] i {
    color: #fff;
    font-size: 36px;
    width: 36px;
    height: 36px;
    display: block;
    overflow: hidden;
}

.owl-prev i.fa,
.owl-next i.fa {
    overflow: hidden;
}

.owl-prev [class*="fa-angle-"]::before,
.owl-next [class*="fa-angle-"]::before {
    display: block;
    font-size: 1.8em;
    margin-top: -0.26em;
}

.owl-prev [class*="fa-chevron-"]::before,
.owl-next [class*="fa-chevron-"]::before {
    display: block;
    font-size: 1.075em;
}

.owl-prev [class*="fa-chevron-circle"]::before,
.owl-next [class*="fa-chevron-circle"]::before {
    display: block;
    font-size: 1.15em;
    margin-top: -0.06em;
}

.owl-prev [class*="fa-arrow"]::before,
.owl-next [class*="fa-arrow"]::before {
    display: block;
    font-size: 1.15em;
    margin-top: -0.1em;
    margin-left: -0.03em;
}

.owl-next [class*="fa-arrow"]::before {
    margin-left: 0.03em;
}

.owl-prev [class*="fa-caret"]::before,
.owl-next [class*="fa-caret"]::before {
    display: block;
    font-size: 1.7em;
    margin-top: -0.21em;
    margin-left: -0.1em;
}

.owl-next [class*="fa-caret"]::before {
    margin-left: 0.1em;
}

/**** rounded buttons ***/

.rounded-slider-button.owl-prev i.fa,
.rounded-slider-button.owl-next i.fa {
    overflow: hidden;
}

.rounded-slider-button.owl-prev [class*="fa-angle-"]::before,
.rounded-slider-button.owl-next [class*="fa-angle-"]::before {
    display: block;
    font-size: 1.35em;
    margin-top: -0.16em;
    margin-left: -0.07em;
}

.rounded-slider-button.owl-next [class*="fa-angle-"]::before {
    margin-left: 0.07em;
}

.rounded-slider-button.owl-prev [class*="fa-chevron-"]::before,
.rounded-slider-button.owl-next [class*="fa-chevron-"]::before {
    display: block;
    font-size: 1.075em;
    margin-left: -0.15em;
}

.rounded-slider-button.owl-next [class*=fa-chevron-]::before {
    margin-left: 0.15em;
}

.rounded-slider-button.owl-prev [class*="fa-chevron-circle"]::before,
.rounded-slider-button.owl-next [class*="fa-chevron-circle"]::before {
    display: block;
    font-size: 1.15em;
    margin-top: -0.06em;
    margin-left: 0;
}


.rounded-slider-button.owl-prev [class*="fa-arrow"]::before,
.rounded-slider-button.owl-next [class*="fa-arrow"]::before {
    display: block;
    font-size: 1.15em;
    margin-top: -0.1em;
    margin-left: -0.03em;
}

.rounded-slider-button.owl-next [class*="fa-arrow"]::before {
    margin-left: 0.03em;
}

.rounded-slider-button.owl-prev [class*="fa-caret"]::before,
.rounded-slider-button.owl-next [class*="fa-caret"]::before {
    display: block;
    font-size: 1.6em;
    margin-top: -0.195em;
    margin-left: -0.1em;
}

.rounded-slider-button.owl-next [class*="fa-caret"]::before {
    margin-left: 0.1em;
}

.header-slider-navigation .owl-nav .owl-autoplay {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: all .1s linear;
    z-index: 100000 !important;
}

.header-slider-navigation .owl-nav .owl-autoplay i {
    color: #fff;
}

.header-slider-navigation .owl-nav .owl-autoplay.is-playing i {
    color: rgba(255, 255, 255, 0.8);
}

.mesmerize-slider .owl-nav.disabled {
    opacity: .5;
    cursor: default
}

.mesmerize-slider.separated .owl-dots {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 501
}

.mesmerize-slider .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    margin: 7px
}

.mesmerize-slider .owl-dots .owl-dot span {
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease
}

.mesmerize-slider .owl-dots .owl-dot.active span, .mesmerize-slider .owl-dots .owl-dot:hover span {
    background: #869791
}

.mesmerize-slider .owl-dots.small-circles .owl-dot span, .mesmerize-slider .owl-dots.small-squares .owl-dot span {
    width: 10px;
    height: 10px
}

.mesmerize-slider .owl-dots.medium-circles .owl-dot span, .mesmerize-slider .owl-dots.medium-squares .owl-dot span {
    width: 14px;
    height: 14px
}

.mesmerize-slider .owl-dots.large-circles .owl-dot span, .mesmerize-slider .owl-dots.large-squares .owl-dot span {
    width: 20px;
    height: 20px
}

.mesmerize-slider .owl-dots.large-circles .owl-dot span, .mesmerize-slider .owl-dots.medium-circles .owl-dot span, .mesmerize-slider .owl-dots.small-circles .owl-dot span {
    border-radius: 30px
}

.mesmerize-slider .owl-dots.small-narrow-rectangles .owl-dot span, .mesmerize-slider .owl-dots.small-rounded-narrow-rectangles .owl-dot span {
    width: 16px;
    height: 10px
}

.mesmerize-slider .owl-dots.medium-narrow-rectangles .owl-dot span, .mesmerize-slider .owl-dots.medium-rounded-narrow-rectangles .owl-dot span {
    width: 22px;
    height: 14px
}

.mesmerize-slider .owl-dots.large-narrow-rectangles .owl-dot span, .mesmerize-slider .owl-dots.large-rounded-narrow-rectangles .owl-dot span {
    width: 32px;
    height: 20px
}

.mesmerize-slider .owl-dots.large-rounded-narrow-rectangles .owl-dot span, .mesmerize-slider .owl-dots.medium-rounded-narrow-rectangles .owl-dot span, .mesmerize-slider .owl-dots.small-rounded-narrow-rectangles .owl-dot span {
    border-radius: 10px
}

.mesmerize-slider .owl-dots.small-rounded-wide-rectangles .owl-dot span, .mesmerize-slider .owl-dots.small-wide-rectangles .owl-dot span {
    width: 30px;
    height: 10px
}

.mesmerize-slider .owl-dots.medium-rounded-wide-rectangles .owl-dot span, .mesmerize-slider .owl-dots.medium-wide-rectangles .owl-dot span {
    width: 38px;
    height: 13px
}

.mesmerize-slider .owl-dots.large-rounded-wide-rectangles .owl-dot span, .mesmerize-slider .owl-dots.large-wide-rectangles .owl-dot span {
    width: 52px;
    height: 18px
}

.mesmerize-slider .owl-dots.large-rounded-wide-rectangles .owl-dot span, .mesmerize-slider .owl-dots.medium-rounded-wide-rectangles .owl-dot span, .mesmerize-slider .owl-dots.small-rounded-wide-rectangles .owl-dot span {
    border-radius: 15px
}

.slide-progress {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 0;
    max-width: 100%;
    height: 5px;
    background: rgba(3, 169, 244, .5)
}

@media (max-width: 767px) {
    .mesmerize-slider.separated .owl-nav .owl-next, .mesmerize-slider.separated .owl-nav .owl-prev {
        padding: 2px;
        margin: 0 !important
    }

    .mesmerize-slider.separated .owl-nav .owl-next i, .mesmerize-slider.separated .owl-nav .owl-prev i {
        font-size: 46px;
        width: 46px;
        height: 46px
    }

    .mesmerize-slider.separated #customDots {
        margin: 4px;
        max-width: 200px;
    }
}
